@import url('https://fonts.googleapis.com/css?family=Paytone+One&subset=latin-ext');

/* Tady je magie a jednorožci */
html { box-sizing: border-box; }
*, ::before, :after { box-sizing: inherit; }


body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	place-items: center;
	font-family: 'Paytone One', sans-serif;
}

h1, p {
	text-align: center;
}

.zarovka {
	width: 240px;
	height: 270px;
	background: url(images/light-off.svg) no-repeat center/cover;
}

.zarovka--sviti {
	background-image: url(images/light-on.svg);
}

.key {
	display: inline-block;
	padding: 0.1em 0.5em;
	background-color: #ffc100;
}